[submodule "test/community-maps-2"]
	path = test/community-maps-2
	url = https://github.com/0ad-matters/community-maps-2
[submodule "test/xiiiad"]
	path = test/xiiiad
	url = https://github.com/0ADMods/xiiiad
